@import "../../styles/mixins";

.loader {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blackmat;
    background-image: url('../../assets/images/pre.svg');
    background-repeat: no-repeat;
    background-position: center center;
}