@import "../../styles/mixins";

.hero {
    margin: 0 auto;
    width: 100%;

    &-container {
        position: relative;
        // height: 28vh;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/images/background3.jpg");
 
        @include tablet {
        height: 73vh;
        }

        @include desktop {
        height: 116vh;
        }

        &--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: .25rem;

            @include tablet {
            padding-top: 3.25rem;
            }

            @include desktop {
            padding-top: 11.25rem;
            }
      }
    }

    &-text {
    animation-name:wel;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-timing-function:ease;
    letter-spacing: 0.4rem;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    font-family: $fontfamily;
    font-size: .875rem;
    color: $light;
    padding: 1.25rem;

        @keyframes wel {
        0% {
        opacity:0;
        }
        90%{
        opacity:0;
        }
        91%{
          opacity:1;
        }
        100%{
          opacity:1;
        }
       }
  
        @include tablet {
        font-size: 25px;
        }

        @include desktop {
        font-size: 55px;    
        }

    &--small {
    display: inline-block;
    animation: slideRight 1.5s backwards;
    animation-delay: 1.5s;
    animation-direction: alternate;
    transition-timing-function: step-end;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    font-family: $fontfamily;
    font-size: .75rem;
    color: $light;

        @keyframes slideRight {
        from {
        opacity: 0;
        transform: translateX(200px);
        } 
        to {
        opacity: 1;
        transform: translateX(0%);
        }
        }
            
        @include tablet {
        font-size: 1rem;
        padding: 1rem;
        }

        @include desktop {
        font-size: 1.5625rem;
        padding: 1.25rem;
        }
    }
        
    &--smaller {
    overflow: hidden;
    letter-spacing: 3px;
    font-weight: 300;
    display: inline-block;
    animation: slideRightBottom 1.5s backwards;
    animation-delay: 2.3s;
    animation-direction: normal;
    transition-timing-function: step-end;  
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    font-family: $fontfamily;
    color: $light;
    width: 57%;
    font-size: 11px;
    padding: .1875rem; 
    text-align: center;

        @keyframes slideRightBottom {
        from {
        opacity: 0;
        transform: translateX(200px);
        } 
        to {
        opacity: 1;
        transform: translateX(0%);
        }
        }

        @include tablet {
        font-size: 12px;
        }

        @include desktop {
        font-size: 1.25rem;
        padding: 1.25rem;
        }
    }
    }

    // &-btn {
    // border-radius: .5rem;
    // padding: .625rem;
    // margin-bottom: 2rem;
    // }
    
}

