@import "../../styles/mixins";

.hero {
    margin: 0 auto;
    width: 100%;
    font-family: $fontfamily;
    height: 100vh;
    position: relative;
    color: #fff;

    &-image {
      background: url("../../assets/images/background.jpg") no-repeat;
      background-size: auto auto;
      background-size: 100% auto;
      width: 100%;
      height: 25vh;
      
        @include tablet {
        background-size: cover;
        height: 66vh;
        }

        @include desktop {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        height: 90vh;
        }
    }

    &-overlay {
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0px;
      padding: 0;
      height: 100%;
      width: 100%;
      opacity: .9; 
    }

    &-content {
      text-align: center;
      position: absolute;

      @include tablet {
      margin-top: -1rem;
      }
    }

    &-table {
      width: 100%;
      height: 100%;
      display: table;
    }

    &-cell {
      font-family: $fontfamily;
      display: table-cell;
      vertical-align: middle;
    }

    &-title {
    //  filter: drop-shadow(0 0 .5px $highlight) drop-shadow(0 0 1px $white);
      animation-name:wel;
      animation-duration:1s;
      animation-fill-mode:forwards;
      animation-timing-function:ease;
      font-weight: 600;
      font-size: .75rem;
      
        @keyframes wel {
        0% {
        opacity:0;
        }
        90%{
        opacity:0;
        }
        91%{
          opacity:1;
        }
        100%{
          opacity:1;
        }
       }

        @include tablet {
        font-size: 1.5rem;
        }

        @include desktop {
        font-size: 2rem;
        }
    }

    &-subtitle {
      font-size: .625rem;
      font-weight: 300;
      animation: slideRight 1.5s backwards;
      animation-delay: 1.5s;
      animation-direction: alternate;
      transition-timing-function: step-end;
      
        @keyframes slideRight {
        from {
        opacity: 0;
        transform: translateX(200px);
        } 
        to {
        opacity: 1;
        transform: translateX(0%);
        }
        }

        @include tablet {
        font-size: 1.25rem;
        }

        @include desktop {
        font-size: 1.5rem;
        }
    }

    &-smaller {
      overflow: hidden;
      letter-spacing: .187rem;
      font-weight: 300;
      display: inline-block;
      animation: slideRightBottom 1.5s backwards;
      animation-delay: 2.3s;
      animation-direction: normal;
      transition-timing-function: step-end;  
      width: 57%;
      font-size: .5rem;
      text-align: center;
  
          @keyframes slideRightBottom {
          from {
          opacity: 0;
          transform: translateX(200px);
          } 
          to {
          opacity: 1;
          transform: translateX(0%);
          }
          }
  
          @include tablet {
          font-size: .75rem;
          padding: .1875rem; 
          }
  
          @include desktop {
          font-size: 1.25rem;
          padding: 1.25rem;
          width: 50%;
          }
      }




        
   //title below
    // &-text {
    // filter: drop-shadow(0 0 .5px $highlight) drop-shadow(0 0 8px $white);
    // animation-name:wel;
    // animation-duration:1s;
    // animation-fill-mode:forwards;
    // animation-timing-function:ease;
    // letter-spacing: 0.4rem;
    // content: "";
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // opacity: 0.5;
    // font-family: $fontfamily;
    // font-size: .875rem;
    // color: $light;
    // padding: 1.25rem;

    //     @keyframes wel {
    //     0% {
    //     opacity:0;
    //     }
    //     90%{
    //     opacity:0;
    //     }
    //     91%{
    //       opacity:1;
    //     }
    //     100%{
    //       opacity:1;
    //     }
    //    }
  
    //     @include tablet {
    //     font-size: 25px;
    //     }

    //     @include desktop {
    //     font-size: 55px;    
    //     }

    // &-subtitle {
    // display: inline-block;
    // animation: slideRight 1.5s backwards;
    // animation-delay: 1.5s;
    // animation-direction: alternate;
    // transition-timing-function: step-end;
    // content: "";
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // opacity: 0.5;
    // font-family: $fontfamily;
    // font-size: .75rem;
    // color: $light;

    //     @keyframes slideRight {
    //     from {
    //     opacity: 0;
    //     transform: translateX(200px);
    //     } 
    //     to {
    //     opacity: 1;
    //     transform: translateX(0%);
    //     }
    //     }
            
    //     @include tablet {
    //     font-size: 1rem;
    //     padding: 1rem;
    //     }

    //     @include desktop {
    //     font-size: 1.5625rem;
    //     padding: 1.25rem;
    //     }
    // }
    // }

}



