@import "../../styles/mixins";

.scroll {

    @include tablet {
    margin-top: -5rem;
    }

    &-position {
        width: 100%;
        // left: 50%;
        height: 20px;
        font-size: 1rem;
        z-index: 1;
        cursor: pointer;
        color: $white;
        transform: translate3d(0, 0, 0);
        perspective: 1000px;
        filter: drop-shadow(0 0 .5px #fff) drop-shadow(0 0 8px #fff);
        transition-delay: 0.3s;

            @include tablet {
            height: 20px;
            text-align: center;
            }

            @include desktop {
            font-size: 5rem;   
            height: 1.875rem;
            }

            &:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
            }
    }

    &-title {
    font-size: .6875rem;
    font-family: $fontfamily;
    margin-top: 0;

    @include tablet {
    font-size: .875rem;
    }

    @include desktop {
    font-size: 1rem;
    }
    }
}