$black: #151518;
$blackmat: #0b0b0b;
$grey: #57555a;
$font: #99979a;
$blkgrey: #383739;
$shade: #44444c;
$highlight: #7c7c84;
$border: #2c3433;
$btndark: #444c4c;
$btnlight: #7c8484;
$light: #d1d1d1;
$fontlight: #98969b;
$active: #ed0707;
$white: #fff;
//fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400;1,500;1,700&family=Inter:wght@300;400;500;600;700&family=Oswald:wght@200;400;500;600;700&display=swap');
$fontfamily: 'DM Sans', sans-serif;
//media breakpoint for mobile
@mixin mobile {
    @media screen and (max-width: 400px) {
      @content;
    }
}

//media breakpoints for tablet */
@mixin tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
}

//media breakpoints for desktop 
@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
    }
}