@import '../../styles/mixins';

.about {
    margin: 0 auto;
    padding-bottom: 1rem;
    font-family: $fontfamily;
    background-color: $light;
    padding-top: 1rem;
    
    &-wrapper {
        // display: flex;
        // flex-wrap: wrap;
    // display:grid;
    // gap: 2rem;
    // justify-items: center;
    position: relative;
    // width: 100%;
    // min-height: 1px;
    padding-right: 40px;
    padding-left: 40px;
    }

    &-shadow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    // margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 6%), 0 2px 5px 0 rgb(0, 0, 0, 20%);
    padding: 4.25rem;
    }

    &-img {
    width: 34%;
    display: block;
    border-radius: .5rem;
    margin-top: .5rem;
    object-fit: contain;
        
        // @include tablet {
        // width: 53%;
       
        // }

        @include desktop {
        width: 35%;
        padding: 20px;
        margin: 1rem;
        }
    }

    &-title {
    text-align: center;
   
       
        @include desktop {
        margin-top: 4rem;
        }
    }

    &-container {
    width: 50%;
        @include tablet {
        width: 100%;
        }

        @include desktop {
        padding: 20px;
        }
    }

    &-details {
    line-height: 1.5;
    margin: .3125rem;
    color: $font;
    font-size: 1rem;

        @include tablet {
        line-height: 1.75;
        font-size: 1.125rem;
        margin: 1rem;
        }

        @include desktop {
        line-height: 2;
        max-width: 45em;
        margin: 0 auto;
        margin-top: .5rem;
        font-size: 1.25rem;
        // margin-left: 1rem;
        }
      }
}

