@import '../../styles/mixins';

.about {
    margin: 0 auto;
    padding-bottom: 1rem;
    font-family: $fontfamily;
    background-color: $light;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &-wrapper {
    position: relative;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    width: 90%;
    }

    &-shadow {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 6%), 0 2px 5px 0 rgb(0, 0, 0, 20%);
    
        @include tablet {
        padding: 4.25rem;
        }

        @include desktop {
        flex-direction: row;
        }
    }

    &-img {
    width: 34%;
    display: block;
    border-radius: .5rem;
    margin-top: .5rem;
    object-fit: contain;
        
        @include tablet {
        width: 40%;
        }

        @include desktop {
        border-radius: .5rem;
        width: 20%;
        padding: .937rem;
        margin: 1rem;
        }
    }

    &-title {
    text-align: center;
   
        @include desktop {
        margin-top: 4rem;
        }
    }

    &-container {
    width: 100%;

        @include tablet {
        width: 100%;
        }

        @include desktop {
        padding: 1.25rem;
        }
    }

    &-details {
    line-height: 1.5;
    margin: .3125rem;
    color: $font;
    font-size: .8125rem;
    padding: 1rem;

        @include tablet {
        line-height: 1.75;
        font-size: 1.125rem;
        margin: 1rem;
        padding: 0;
        }

        @include desktop {
        line-height: 2;
        max-width: 45em;
        margin: 0 auto;
        margin-top: .5rem;
        font-size: 1.1875rem;
        }
      }
}

