@import "../../styles/mixins";

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: $light;
    font-family: $fontfamily;

    &-shadow {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #fff;
        // margin-bottom: 3rem;
        z-index: 2;
        box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 6%), 0 2px 5px 0 rgb(0, 0, 0, 20%);
        
    
            @include tablet {
            width: 90%;
            }
    
            @include desktop {
            width: 93%;
            }
        }
    &-container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        position: static;

        @include tablet {
            width: 100%;
            display: flex;
            margin-top: 30px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-self: center;
            font-family: $fontfamily;
        }
    }

    &-divder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

        @include tablet {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
    }

    &-subNav {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    font-size: .75rem;
    height: fit-content;
    text-align: end;
    // display: none;

        @include tablet {
        font-size: 1rem;
        position: -webkit-sticky;
        position: sticky;
        font-family: $fontfamily;
        top: 60px;
        width: 170px;
        height: fit-content;
        text-align: end;
        }

        @include desktop {
        font-size: 30px;
        width: 210px;
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
        font-size: 27px;
        width: 210px;
        height: fit-content;
        text-align: end;
        font-family: $fontfamily;
        }
    }

    &-subtitle {
    display: flex;
    flex-direction: column;

        @include tablet {
        text-align: left;
        font-size: 1rem;
        margin: 20px 0px 5px 0px;
        }

        @include desktop {
        font-size: 1.3125rem;
        }

    }

    &-content {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 2px solid lightgray;
    margin-bottom: 30px;
    max-width: 800px;

    @include mobile {
        padding-left: 15px;
        margin-left: 15px;
        border-left: 2px solid lightgray;
        margin-bottom: 30px;
        max-width: 300px;
    }

        @include tablet  {
        padding-left: 15px;
        margin-left: 5px;
        border-left: 2px solid lightgray;
        margin-bottom: 30px;
        max-width: 550px;
        }
    }

    &-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    }

    &-name {
    font-family: 'Abril Fatface', cursive;
    text-align: left;
    font-size: .9375rem;
    margin-bottom: 15px;
    color: $black;

        @include tablet {
        font-family: 'Abril Fatface', cursive;
        text-align: left;
        font-size: 1.5rem;
        // margin-bottom: 15px;
        }

        @include desktop {
        font-size: 28px;
        }
    }

    &-desc {
        text-align: left;
        font-size: .875rem;
        line-height: 16px;
        padding-bottom: 1rem;
        color: $grey;

        @include tablet {
        font-family: $fontfamily;
        text-align: left;
        font-size: .9375rem;
        line-height: 18px;
        }

        @include desktop {
        font-family: $fontfamily;
        text-align: left;
        font-size: 1.25rem;
        font-weight: 200;
        line-height: 25px;
        width: 90%;
        }
    }

    
    &-option {    
    text-align: left;
    font-size: 1rem;
    margin: 20px 0px 10px 0px;
    color: $black;
        
        @include tablet {
        font-size: 1.125rem;
        }

        @include desktop {
        font-size: 1.375rem;
        }
}

    &-demo {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    // display: flex;
    // flex-direction: row;
    // margin-bottom: 10px;
    // width: 180px;

        @include mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        width: 90px;
        }

        @include tablet {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        width: 100px;
        }
    }

    &-desktopDemo {
    object-fit: contain;
    width: 100px;
    margin-right: 25px;
    box-shadow: .8px .9px 3px grey;

    // object-fit: contain;
    // width: 280px;
    // margin-right: 25px;
    // box-shadow: .8px .9px 3px grey;

        @include tablet {
        width: 130px;
        object-fit: contain;
        width: 310px;
        margin-right: 25px;
        box-shadow: .8px .9px 3px grey;
        }
        
        @include desktop {
        object-fit: contain;
        width: 500px;
        margin-right: 25px;
        box-shadow: .8px .9px 3px grey;
        }
     
    }
    &-mobileDemo {
        object-fit: contain;
        width: 90px;
        box-shadow: .8px .9px 3px grey;


        // object-fit: cover;
        // width: 209px;
        // /* margin-left: 25px; */
        // box-shadow: .8px .9px 3px grey;

        @include mobile {
        object-fit: contain;
        width: 60px;
        box-shadow: .8px .9px 3px grey;
        }

        @include tablet {
            object-fit: contain;
            width: 117px;
            box-shadow: .8px .9px 3px grey;
        }

        @include desktop {
        width: 190px;
        }
    }

    &-subpoints {
        display: flex;
        flex-direction: row;
       // width: 500px;
 // display: flex;
    // flex-direction: row;
    // width: calc(100vh - 210px);
        @include mobile {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: .75rem;
        }

        @include tablet {
        display: flex;
        flex-direction: row;
        //width: 550px;
        }
    }

    &-demofullimg {
    width: 300px;
        
        @include tablet {
        width: 400px;
        }

        @include desktop {
        width: 500px;
        }
    }
    &-column {
    width: 50%;
    display: flex;
    flex-direction: column;

        @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        }

        @include tablet {
        width: 50%;
        display: flex;
        flex-direction: column;
        }
    }

    &-notes {
        margin-top: 0px;
        padding-left: 25px;
        padding-right: 20px;
        text-align: left;
        font-size: .75rem;
        color: $grey;

        @include tablet {
        margin-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        font-size: .875rem;
        }

        @include desktop {
        font-size: 1.125rem;
        }
    
    }
    
    &-container--bottom {
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}
