@import "../../styles/mixins";

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: $light;
    font-family: $fontfamily;

    &-shadow {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: $white;
        z-index: 2;
        box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 6%), 0 2px 5px 0 rgb(0, 0, 0, 20%);
        width: 90%;
    
            // @include tablet {
            // width: 90%;
            // }
    
            // @include desktop {
            // width: 90%;
            // }
        }
    &-container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        position: static;
        font-family: $fontfamily;

            @include tablet {
            width: 100%;
            margin-top: 1.875rem;
            justify-content: center;
        }
    }

    &-divder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
        @include tablet {
        flex-direction: row;
        }

        @include desktop {
        justify-content: flex-start;
        }
    }

    &-subNav {
    color: $shade;
    top: 60px;
    font-size: .9375rem;
    height: fit-content;
    text-align: center;
    font-weight: bolder;
    font-family: $fontfamily;

        @include tablet {
        text-decoration: none;
        position: -webkit-sticky;
        position: sticky;
        text-align: end;
        font-size: 1rem;
        position: -webkit-sticky;
        position: sticky;
        width: 170px;
        height: fit-content;
        text-align: end;
        }

        @include desktop {
        font-size: 1.5625rem;
        width: 315px;
        }
    }

    &-subtitle {
    display: flex;
    flex-direction: column;

        @include tablet {
        text-align: left;
        font-size: 1rem;
        margin: 20px 0px 5px 0px;
        padding-bottom: 10px;
        }

        @include desktop {
        font-size: 1.25rem;
        margin: 20px 20px 5px 20px
        }
    }

    &-content {

        @include mobile {
        // padding: 15px;
        border-top: 2px solid $lightgrey;
        margin: 1rem;
        }

        @include tablet  {
        padding-left: 15px;
        margin-left: 5px;
        border-left: 2px solid $lightgrey;
        margin-bottom: 30px;
        max-width: 550px;
        }

        @include desktop {
        padding-left: 20px;
        max-width: 750px;
        }
    }

    &-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

        @include tablet {
        justify-content: flex-start;
        }
    }

    &-name {
    font-family: 'Abril Fatface', cursive;
    text-align: left;
    font-size: .9375rem;
    margin-bottom: 15px;
    color: $black;

        @include tablet {
        font-size: 1.5rem;
        }

        @include desktop {
        font-size: 1.625rem;
        }
    }

    &-desc {
        text-align: left;
        font-size: .875rem;
        line-height: 16px;
        padding-bottom: 1rem;
        color: $font;
        padding-right: .5rem;
        font-family: $fontfamily;
        font-weight: 200;

            @include tablet {
            font-size: .9375rem;
            line-height: 18px;
            padding-right: 1rem;
            }

            @include desktop {
            text-align: left;
            font-size: 1.1875rem;
            font-weight: 200;
            line-height: 25px;
            width: 100%;
            padding-right: 0;
            }
    }

    &-option {    
    text-align: left;
    font-size: .875rem;
    margin: 20px 0px 10px 0px;
    color: $black;
        
        @include tablet {
        font-size: 1rem;
        }

        @include desktop {
        font-size: 1.25rem;
        }
}

    &-demo {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;

        @include mobile {
        width: 90px;
        }

        @include tablet {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        width: 150px;
        }

        @include desktop {
        width: 250px;
        }
    }

    &-desktopDemo {
    object-fit: contain;
    width: 142px;
    margin-right: 25px;
    box-shadow: .8px .9px 3px $border;

        @include tablet {
        width: 310px;
        }
        
        @include desktop {
        width: 500px;
        }
    }

    &-mobileDemo {
    object-fit: contain;
    width: 53px;
    box-shadow: .8px .9px 3px $border;

        @include mobile {
        width: 54px;
        }

        @include tablet {
        width: 117px;  
        }

        @include desktop {
        width: 190px;
        }
    }

    &-subpoints {
    display: flex;
    flex-direction: row;

        @include mobile {
        flex-direction: column;
        width: 100%;
        padding-top: .75rem;
        }

        @include tablet {
        flex-direction: row;
        }
    }

    &-demofullimg {
    width: 300px;
        
        @include tablet {
        width: 400px;
        }

        @include desktop {
        width: 500px;
        }
    }

    &-column {
    width: 50%;
    display: flex;
    flex-direction: column;

        @include mobile {
        width: 100%;
        }

        @include tablet {
        width: 50%;
        }

        @include desktop {
        width: 40%;
        }
    }

    &-notes {
    margin-top: 0px;
    padding-left: 25px;
    padding-right: 20px;
    text-align: left;
    font-size: .75rem;
    color: $grey;

        @include tablet {
        padding-left: 20px;
        font-size: .875rem;
        }

        @include desktop {
        font-size: 1.0625rem;
        margin-left: 1.0625rem;
        padding-right: 0;
        }
    }

    &-website {
    background-image: url(../../assets/logo/git.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 15px;
    margin-left: 10px;
    width: 20px;
    height: 30px;
    cursor: pointer;
    align-items: center;
    
        @include tablet {
        width: 25px;
        }
            
        @include desktop {
        width: 30px;
        }

        &:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        }
    }
}
