@import "../../styles/mixins";

.main{
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
    height: 50vh;
    width: 100%;
    background-color: $light;

        @include tablet {
        height: 114vh;
        }

        @include desktop {
        height: 101vh;
        }

    &-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    filter: drop-shadow(0 0 .5px $white) drop-shadow(0 0 8px $fontlight);

    @include tablet {
    flex-wrap: wrap;
    }
    }

	&-shadow {
		width: 90%;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		background-color: $white;
		z-index: 2;
		box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 6%), 0 2px 5px 0 rgb(0, 0, 0, 20%);
		
	
			@include tablet {
			margin-bottom: 6rem;
			}
	
			@include desktop {
			width: 90%;
			}
		}
}
.box{
    background-image: url("../../assets/badge/react.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
	height: 1.312rem;
	width: 1.937rem;
	background-color: $font;
	border-radius: .5rem;
	transition: 0.4s;
	animation-name: iden;
	animation-duration: 1s;
	animation-delay: 1s;
    padding: .625rem;
    margin-right: .437rem;
    
        @include tablet {
        height: 5rem;
        width: 5rem;
        padding: .5rem;
        margin: 2rem;
        }
    
        @include desktop {
        background-size: auto;
        height: 5rem;
	    width: 6.25rem;
        padding: .625rem;
        margin-right: 2.5rem;
        }
}
.box:hover{
	transform: scale(1.1, 1.1);
	box-shadow: 0 0 60px rgba(0,0,0,.8);
}
.box2{
	background-image: url("../../assets/badge/node.png");
	animation-delay: 1.2s;
}
.box3{
	background-image: url("../../assets/badge/javascript.png");
	animation-delay: 1.4s;
}
.box4{
	background-image: url("../../assets/badge/html.png");
	animation-delay: 1.6s;
}
.box5{
	background-image: url("../../assets/badge/css.png");
	animation-delay: 1.8s;
}
.box6{
	background-image: url("../../assets/badge/sass.png");
	animation-delay: 2s;
}
.box7{
	background-image: url("../../assets/badge/mongodb.png");
	animation-delay: 2.1s;
}
.box8{
	background-image: url("../../assets/badge/mysql.png");
	animation-delay: 2.2s;
}
.box9{
	background-image: url("../../assets/badge/firebase.png");
	animation-delay: 2.3s;
}
.box10{
	background-image: url("../../assets/badge/npm.png");
	animation-delay: 2.4s;
}
.box11{
	background-image: url("../../assets/badge/express.png");
	animation-delay: 2.5s;
}
.box12{
	background-image: url("../../assets/badge/git.png");
	animation-delay: 2.6s;
}
@keyframes iden{
	0%{}
	50%{transform: scale(1.1, 1.1);
	box-shadow: 0 0 60px rgba(0,0,0,.8);}
	100%{}
}